// Primary Color
$pink:hsl(322,100%,66%);
// Neutrals
$darkCyan:hsl(192,100%,9%);
$grayBlue:hsl(208,11%,55%);

// Layout
$mobileWidth:375px;
$desktopWidth:1440px;

// Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap');
// Headings
$headingFont:'Poppins', sans-serif;
// Paragraphs
$pFont:'Open Sans', sans-serif;